<%if Rails.env == "development" %>
<h1>Hello World dev</h1>
<%elsif Rails.env == "staging" %>
<h1>Hello World staging</h1>
<%else Rails.env == "production" %>
<h1>Hello World production "local"</h1>
<%end%>
